---
import Benefits from "./sections/Benefits.astro";
import Comments from "./sections/Comments.astro";
import Gallery from "./sections/Gallery.astro";
import Hero from "./sections/Hero.astro";
import Prices from "./sections/Prices.astro";
import Psychologists from "./sections/Psychologists.astro";
---

<main class="flex flex-col gap-8 items-center justify-center">
  <Hero />
  <Benefits />
  <Gallery />
  <Prices />
  <Comments />
  <Psychologists />
</main>
