---
import Section from "../components/Section.astro";

import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import Video from "../components/Video.astro";

const aboutTheTeamVideo =
  "https://drive.google.com/file/d/1AsHxJ_o9XktLwfX1jvPffU_DcaPWIKiE/preview";

const aboutTheProductVideo =
  "https://drive.google.com/file/d/1XRbIPGsCtUU8FICERQq0OZMhL1kUx97u/preview";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Section
  id="nosotros"
  title={t("about.title")}
  description={t("about.description")}
>
  <div class="flex gap-10 md:flex-col">
    <Video
      title={t("about.team.title")}
      description={t("about.team.description")}
      srcLink={aboutTheProductVideo}
    />
    <Video
      title={t("about.product.title")}
      description={t("about.product.description")}
      srcLink={aboutTheTeamVideo}
    />
  </div>
</Section>
