---
import BeneficiosGif from "@/assets/Gifs/comienzo.gif";
import Section from "../components/Section.astro";
import Benefit from "../components/Benefit.astro";
---

<Section title="Beneficios que ofrecemos">
  <div class="flex flex-col gap-5 items-center md:flex-row px-12">
    <img class="object-contain" src={BeneficiosGif.src} alt="Mujer meditando" />
    <ul class="flex flex-col gap-4 text-start">
      <Benefit benefitNumber="1" title="Recomendaciones">
        <p>
          Mejora tu bienestar con recomendaciones adaptadas a tu nivel de
          estrés.
        </p>
      </Benefit>
      <Benefit benefitNumber="2" title="Agenda">
        <p>
          Agenda citas fácilmente con profesionales certificados para tener un
          mejor asesoramiento.
        </p>
      </Benefit>
      <Benefit benefitNumber="3" title="Bienestar">
        <p>
          Prioriza tu bienestar con herramientas accesibles y efectivas.
          Descubre ejercicios prácticos de meditación y respiración. Monitorea
          tu bienestar y observa mejoras en tiempo real.
        </p>
      </Benefit>
    </ul>
  </div>
</Section>
