---
import Section from "../components/Section.astro";
---

<Section id="hero">
  <div class="flex flex-col gap-2">
    <h1 class="text-4xl -tracking-[-.5rem] uppercase font-bold text-[#017e01]">
      NeuroZen
    </h1>
    <p>Transformando el bienestar laboral a través de la tecnología</p>
  </div>
  <div class="flex flex-col gap-4 items-center">
    <p>Sé uno de los primeros en probar el servicio.</p>
    <a
      href="https://neurozen-frontend.web.app"
      target="_blank"
      class="border max-w-max px-2 py-1 rounded-md bg-green-gradient-start hover:bg-green-gradient-start/80 transition-all duration-200"
    >
      Solicitar demo
    </a>
  </div>
</Section>
