<div
  class="group border p-1 border-white rounded-full hover:bg-white cursor-pointer"
>
  <a href="#">
    <svg
      fill="#fff"
      xmlns="http://www.w3.org/2000/svg"
      width="30"
      height="30"
      viewBox="0 0 24 24"
      class="group-hover:fill-[#0a5c20] transition-colors duration-200"
    >
      <slot />
    </svg>
  </a>
</div>
